/*
    Theme Name: My WordPress second try
    Author: Mohammad Awwad
    Description: My Adveance WordPress Theam from the beginning i have us bootstrap4 in her
    Tags: Bootstrap 4 
    Version: 2.0

*/

nav.nav ul li a {
    color: #ffffff;
}

.img-thumbnail img {
    width: 100%;
    height: auto;
}

.wp-text-size{
    font-size: 22px;
}

nav .mini-nav .current_page_item {
    font-weight: bold;
}

.wp-side-bar ul {
    list-style-type: none;
    padding: 5px;

}

.wp-side-bar li a {
    line-height: 2em;
    border-bottom: 1px dotted #000000;
    width: 90%;
    display: block;
}

.wp-side-bar .page_item_has_children li {
    padding-left: 20px;
}

.sidebar a {
    margin: 10px;
}

