.wp-img {
    width: 100%;
    height: auto;
}

.wp-wiget-sidebar p{
    padding: 10px;
}

.wp-singel-post {
    border: 3px dotted #000000;
}

.wp-single-img {
    text-align: center;
    padding: 10px;
}

.wp-single-img img {
    width: 100%;
    height: auto;
}

.wp-single-text {
    font-size: 1.5rem;
    padding: 0px 15px;
}

/* .wp-form-widt {

} */

.wp-wiget-sidebar {
    margin-bottom: 20px;
}

.comment-body {

}








.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    /* left: 0; */
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}

.sidenav a {
    /* padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; */
}

.sidenav a:hover {
    /* color: #f1f1f1; */
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-width {
    width: 40%;
}

@media screen and (max-width: 550px) {
    .sidenav-width{
        width: 100%;
    }
}