/*

Theme Name: My WordPress first try
Author: Mohammad Awwad
Description: My first Simple wordPress Theam from the beginning
Version: 1.0


*/


.img-thumbnail img {
    width: 100%;
    height: auto;
}

.wp_nav {
    width: 100%;
    background-color: #000000;
    height: 40px;
    padding: 5px;
}

.wp_nav ul {
    margin:0;
    padding: 0;
}

.wp_nav li {
    display: inline;
    list-style-type: none;
    margin-right: 15px;
}

.wp_nav li a {
    text-decoration: none;
    color: #ffffff;
}