/* 
Theme Name: wordpress gallery theme
Author: mohammad awwad
Description: basic theme for imges posts
Tags: Bootstrap 4 
Version: 3.0
*/

body {
    background-color: #000000;
    color: #ffffff;
}

.wp-header {
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.wp-side-bar a {
    text-decoration: none;
    display: block;
}

a {
    text-decoration: none;
}

article.wp-post {
    padding: 10px;
    border: #ffffff solid 1px;
}

article .wp-title {
    text-align: center;
}

article .wp-img img {
    width: 100%;
    height: auto;
}

article .wp-text {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1vw;
}

article.wp-singel-post {
    text-align: center;
    border: #ffffff solid 1px;
    padding: 30px;
    margin: 40px;
}

/* article .wp-singel-img {

}

article .wp-singel-title {

}*/

article .wp-singel-img img {
    width: 75%;
    height: auto;
} 

article .wp-singel-text {
    font-size: 2vw;
}

.wp-single-cats {
    border-bottom: #ffffff solid 1px; 
    width: 333px;
    text-align: center;
    /* font-size: 2vw; */
}

.wp-cats {
    border-bottom: #ffffff dotted 1px;
}

.wp-back {
    background-color: red;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2vw;
}

.wp-back a {
    display: block;
}


@media (min-width: 993px){
    article.w3-col.l4 {
        width: 32%;
        margin: 5px;
    }

}