.logo-img {
    width: 20%;
    display: inline;
}

.logo-img img {
    width: 100%;
    height: 60px;
}

.wp-img {
    width: 100%;
    height: auto;
}

/* <div class="logo-img">
    <?php 
        if(function_exists("the_custom_logo")){
            the_custom_logo();
        } 
    ?>
</div> */